.nav-bar{
    background-color: rgba(58, 62, 65, 0.699);
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar .links{
    height: 100%;
    width: 200px;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 1fr;
    text-align: center;
}
.links a{
    text-decoration: none;
    color:rgba(180, 0, 69, 0.87);
}
.links a:hover{
    color: rgba(27, 97, 177, 0.87);
}